<nav class="navbar navbar-dark bg-light">
  <a class="navbar-brand text-dark" href="/home/index" >Rentete</a>
  <form class="form-inline">
   <a href="<%= new_subject_path %>" class="btn btn-primary">Add Class</a>
  </form>
</nav>